<%- include("header") -%>
<h3>Trash</h3>
<p>Hover over an item to recover or permanently delete it.</p>
  <div class="menu-row">
    <a href="/">  
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 2 16 16">
          <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
        </svg>
        Home
      </button>
    </a>
  </div>

  <table class="table table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Stock</th>
      <th>Aisle</th>
      <th>Location</th>
      <th>Deletion Comments</th>
      <th>ID</th>
      <th></th>
    </tr>
  </thead>
    <% var count = 1 %>
    <%  productList.forEach(function(product){ %>
      <tr>
        <td><%=count%></td>
        <td><%=product.name%></td>
        <td><%=product.stock%></td>
        <td><%=product.aisle%></td>
        <td><%=product.location%></td>
        <td><%=product.deletion.comment%></td>
        <td><%=product._id%></td>
        <td>
          <form action="/recover" method="post">
            <input name="productId" type="hidden" value="<%=product.id%>">
            <button type="submit" class="btn btn-primary showHover">
              Recover
            </button>
            <button type="button" class="btn btn-danger showHover" data-toggle="modal" data-target="#deleteProductModal_<%=product._id%>">
              Permanently Delete
            </button>
          </form>
          <div class="modal fade" id="deleteProductModal_<%=product._id%>" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteProductModalLabel">Permanently Delete Product</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This action cannot be undone. Are you sure you want to permanently delete this product?
                  <form action="/permdelete" method="post">
                    <input name="productId" type="hidden" value="<%=product.id%>">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Permanently Delete</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% count++ %>  
    <%  }) %>
  </table>





<%- include("footer") -%>
